<p>Olá, USUARIO! Bem-vindo ao programa EMPRESA</p>

{{#each listaUsuarios}}
    <h1>{{user}}</h1>
    <a href='/deletar/{{id}}'><button>Deletar</button></a><br>
    <small>{{createdAt}}</small>
    <hr>
{{/each}}
