
<form action="" method="post">
    <p>Login:</p>
    <input type="text" name="username" placeholder="Nome de usuário">
    <input type="password" name="senha" placeholder="Digite a senha">
    <button type="submit">Entrar</button>
    <p>Novo por aqui? <a href="#"></a>Cadastre-se</a></p>
</form>