
<!-- Imprime o form de login para o usuário e encaminha para um /userlog-->
<form action="confirmregister" method="post"> <!-- method post esconde as informações do usuario-->
    <p>Registrar-se:</p>
    <input type="text" name="username" placeholder="Nome de usuário">
    <input type="password" name="senha" placeholder="Digite a senha">
    <input type="password" name="senhaconfirm" placeholder="Confirma a senha">
    <button type="submit">Cadastrar</button>
    <p>Já possui uma conta? <a href="http://localhost:8922/login">Entrar</a></p>
</form>